Hackathon/Lab4/Lab4_solution/Lab4Solution-flow.json
[{"id":"b852cd0e.096598","type":"tab","label":"Flow 1"},{"id":"e6958057.b9a5","type":"ttn app","z":"","appId":"master2017arduino1","region":"us-west","accessKey":"ttn-account-v2.oaSHuZSoFhfXsWX_luaVq9Auee1sMV8SnhYxCw2vFoA"},{"id":"e7ea92f.578dc3","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"2753f6b4.88ac1e","type":"ui_group","z":"","name":"Temperature in °F","tab":"e7ea92f.578dc3","disp":true,"width":"6"},{"id":"bf379732.47beb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1544c99c.ff2d76","type":"ttn message","z":"b852cd0e.096598","name":"","app":"e6958057.b9a5","dev_id":"explorer0002","field":"","x":90,"y":45.11000061035156,"wires":[["46d83e63.828344","588c2da9.19ca7c"]]},{"id":"588c2da9.19ca7c","type":"function","z":"b852cd0e.096598","name":"","func":"celsius = msg.payload;\nfaren = (celsius * 9 / 5) + 32;\nmsg.payload = faren;\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":48.099998474121094,"wires":[["ad391a3a.63de68"]]},{"id":"ad391a3a.63de68","type":"ui_chart","z":"b852cd0e.096598","name":"","group":"2753f6b4.88ac1e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":425,"y":54.94999694824219,"wires":[[],[]]},{"id":"46d83e63.828344","type":"debug","z":"b852cd0e.096598","name":"","active":true,"console":"false","complete":"true","x":292,"y":127.97999572753906,"wires":[]}]