Hackathon/Lab5/master2017_Lab5.json
[{"id":"32fe362a.cd01ca","type":"tab","label":"SODAQ Arduino"},{"id":"f7ad349.7d54848","type":"tab","label":"Flow 1"},{"id":"f130deb5.0ecf2","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"8883","tls":"3fa0b400.c05f4c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"26d01720.d92fe8","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"bb6fed2.f44901","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp3","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ff1fe28a.00e02","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp4","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e1f8b87d.1e0748","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp5","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"99e453d3.661bb","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp6","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"cf1e5f92.30e1a","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp7","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a9fbf45e.560408","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp8","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e8c3c399.173c4","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp9","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a0c2c5fa.5f3d38","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp10","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"43e643f3.bc19bc","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp11","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"5c52b0a.fa3ad5","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp12","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"f2a117f3.0d5ee8","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp13","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"d22c1cc2.2dd3e","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp14","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a927190f.56d8e8","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp15","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"4e9b0919.b164f8","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp16","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"8d3fb7a6.72c048","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp17","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"c90cadf0.36f35","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp18","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"886397ad.779c68","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp19","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"fa83eeb1.057c1","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp20","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"4c0c4f82.b3f3b","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp21","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"f8e8f08d.07171","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp22","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"92dd8df6.6d227","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp23","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"c323b5e1.3cdc48","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp24","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ae329c08.51cd6","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp25","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"428c231f.bd73dc","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp26","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"c2eda98.f3d1258","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp27","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"cfd67ed2.30298","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp28","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"43e7c14c.bc184","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp29","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ca48f6a9.35b708","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"1883","clientid":"Exp30","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"83b25926.7c4da8","type":"mqtt-broker","z":"32fe362a.cd01ca","broker":"us-west.thethings.network","port":"8883","tls":"3fa0b400.c05f4c","clientid":"test","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e79d9fb0.18626","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b7607564.489f88","type":"ui_group","z":"32fe362a.cd01ca","name":"Temperature","tab":"e4159201.1bea7","order":2,"disp":true,"width":"6"},{"id":"7dfe4341.8201bc","type":"mqtt-broker","z":"","broker":"194.146.66.42","port":"1883","clientid":"222","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"eeec4d36.1113b","type":"mqtt-broker","z":"","broker":"a3rvy320lo0xwf.iot.us-east-2.amazonaws.com","port":"8883","tls":"a4c775f7.f4fe18","clientid":"555","usetls":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9c3baa0a.63c458","type":"ui_group","z":"32fe362a.cd01ca","name":"LED Setting","tab":"e4159201.1bea7","order":3,"disp":true,"width":"6"},{"id":"e4159201.1bea7","type":"ui_tab","z":"32fe362a.cd01ca","name":"Microchip MASTERs 2017","icon":"dashboard"},{"id":"608e3974.9f71c8","type":"ui_group","z":"32fe362a.cd01ca","name":"","tab":"","order":1,"disp":true,"width":"6"},{"id":"3fa0b400.c05f4c","type":"tls-config","z":"32fe362a.cd01ca","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"1dca76ec.ba2dd9","type":"ui_group","z":"","name":"Group 4","tab":"","order":4,"disp":true,"width":"6"},{"id":"6663a159.f13ac","type":"ui_group","z":"","name":"WebPage","tab":"","order":4,"disp":true,"width":"6"},{"id":"f259edde.c4338","type":"ui_group","z":"","name":"Web Page","tab":"e4159201.1bea7","order":1,"disp":false,"width":"6"},{"id":"867b12ea.8e8f3","type":"ui_group","z":"","name":"Group 2","tab":"e4159201.1bea7","order":5,"disp":true,"width":"6"},{"id":"390f22e4.c6f0de","type":"mqtt in","z":"32fe362a.cd01ca","name":"MQTT TTN","topic":"#","qos":"2","broker":"f130deb5.0ecf2","x":65,"y":76,"wires":[["eafc8d62.15037","e1533fd3.1eacc"]]},{"id":"e6a5bd7b.195a4","type":"function","z":"32fe362a.cd01ca","name":"Closest Gateway","func":"if (msg.topic.indexOf(\"down\") != -1)\n{\n    msg.payload = msg.payload.replace(/\\n|\\r/g, \"\");\n    msg.index = msg.topic.indexOf(\"down\");\n    var msg1 = { payload: msg.payload.length };\n    msg1.payload = JSON.parse(msg.payloadTemp);\n    if (msg1.payload.message.dev_id === msg.payload)\n    \n    {\n        msg.closestGateway = \"Gateway: \" + msg1.payload.gateway_id +\" \";\n        msg.payload = msg.closestGateway.replace(\"eui-\",'');\n        return msg;\n    }\n    \n}\n","outputs":"1","noerr":0,"x":164,"y":309,"wires":[["3eee02c3.c111fe","b01d3def.068fb8","dcd3fb03.232c08"]]},{"id":"3eee02c3.c111fe","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":171,"y":349,"wires":[]},{"id":"c3235dcf.3cdca","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":657,"y":168,"wires":[]},{"id":"e1533fd3.1eacc","type":"function","z":"32fe362a.cd01ca","name":"Decrypt Payload of UP messages","func":"// msg1 - Unencrypted (vanilla data)\nif (msg.topic.indexOf(\"up\") != -1){\n    var msg1 = { payload: msg.payload.length };\n    msg1.payload = JSON.parse(msg.payload);\n    msg1.payload = msg1.payload.payload_raw;\n    \n    // msg2 - Decrypt to Text\n    var msg2 = { payload: msg.payload.length };\n    msg2.payload = JSON.parse(msg.payload);\n    msg2.device = JSON.parse(msg.payload);\n    msg2.device = msg2.payload.dev_id;\n    \n    // msg3 - Decrypt as Binary value (MSB,LSB)\n    var msg3 = { payload: msg.payload.length };\n    msg3.payload = JSON.parse(msg.payload);\n    msg3.payload = new Buffer(msg3.payload.payload_raw, 'base64').toString('hex');\n    msg3.payload = parseInt(msg3.payload, 16);\n}\nreturn [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":348,"y":72,"wires":[[],["a4aa9dd6.5b556"],[]]},{"id":"a4aa9dd6.5b556","type":"debug","z":"32fe362a.cd01ca","name":"msg.payload.payload_raw - DATA (decrypted to text)","active":true,"console":"false","complete":"payload","x":801,"y":96.5,"wires":[]},{"id":"5392f56c.ac6d0c","type":"inject","z":"32fe362a.cd01ca","name":"color White","topic":"","payload":"{\"port\": 77,\"confirmed\": true,\"payload_raw\": \"Color 255 255 255\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":184,"y":449,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"2b4b6856.d4b498","type":"mqtt out","z":"32fe362a.cd01ca","name":"Publish","topic":"","qos":"0","retain":"","broker":"f130deb5.0ecf2","x":827,"y":711,"wires":[]},{"id":"ff0577f.f00fa88","type":"debug","z":"32fe362a.cd01ca","name":"msg.payload - DATA (RAW)","active":true,"console":"false","complete":"payload","x":722,"y":63,"wires":[]},{"id":"c0e459df.3f1ba8","type":"debug","z":"32fe362a.cd01ca","name":"msg.payload. - DATA (decrypted to number)","active":true,"console":"false","complete":"payload","x":773,"y":131,"wires":[]},{"id":"57fcdb27.a80324","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":815,"y":759,"wires":[]},{"id":"7acc2c66.8533d4","type":"inject","z":"32fe362a.cd01ca","name":"color black","topic":"","payload":"{\"port\": 11,\"confirmed\": true,\"payload_raw\": \"Color 0 0 0\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":193,"y":409,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"3703ddf8.c8fc22","type":"inject","z":"32fe362a.cd01ca","name":"color Yellow","topic":"","payload":"{\"port\": 33,\"confirmed\": true,\"payload_raw\": \"Color 255 255 0\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":184,"y":488,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"1f997827.e06688","type":"inject","z":"32fe362a.cd01ca","name":"color Purple","topic":"","payload":"{\"port\": 77,\"confirmed\": true,\"payload_raw\": \"Color 255 0 255\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":185,"y":525,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"d961d8e4.269e28","type":"inject","z":"32fe362a.cd01ca","name":"color Blue","topic":"","payload":"{\"port\": 77,\"confirmed\": true,\"payload_raw\": \"Color 0 255 255\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":195,"y":563,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"13816b90.ec7e94","type":"ui_chart","z":"32fe362a.cd01ca","name":"","group":"b7607564.489f88","order":1,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":727,"y":340,"wires":[[],[]]},{"id":"35e6605c.ca19a","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":660,"y":207,"wires":[]},{"id":"236b2098.dc94e","type":"ui_button","z":"32fe362a.cd01ca","name":"","group":"9c3baa0a.63c458","order":1,"width":0,"height":0,"label":"Blue","color":"black","bgcolor":"light Blue","icon":"","payload":"{\"port\": 77,\"confirmed\": true,\"payload_raw\": \"Color 0 255 255\" }","payloadType":"json","topic":"","x":202,"y":768,"wires":[["6c903c31.936fc4","6cb0ba40.9d8e9c"]]},{"id":"6c903c31.936fc4","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":361,"y":768,"wires":[]},{"id":"f4b9c187.0b464","type":"ui_button","z":"32fe362a.cd01ca","name":"","group":"9c3baa0a.63c458","order":2,"width":0,"height":0,"label":"Purple","color":"black","bgcolor":"purple","icon":"","payload":"{\"port\": 77,\"confirmed\": true,\"payload_raw\": \"Color 255 0 255\" }","payloadType":"json","topic":"","x":201,"y":729,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"6eca0b37.9135f4","type":"ui_button","z":"32fe362a.cd01ca","name":"","group":"9c3baa0a.63c458","order":3,"width":0,"height":0,"label":"Yellow","color":"black","bgcolor":"Yellow","icon":"","payload":"{\"port\": 33,\"confirmed\": true,\"payload_raw\": \"Color 255 255 0\" }","payloadType":"json","topic":"","x":202,"y":687,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"2743907f.d8bc7","type":"ui_button","z":"32fe362a.cd01ca","name":"","group":"9c3baa0a.63c458","order":4,"width":0,"height":0,"label":"White","color":"black","bgcolor":"beige","icon":"","payload":"{\"port\": 77,\"confirmed\": true,\"payload_raw\": \"Color 255 255 255\" }","payloadType":"json","topic":"","x":203,"y":650,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"d3ced977.2c3128","type":"ui_button","z":"32fe362a.cd01ca","name":"","group":"9c3baa0a.63c458","order":5,"width":0,"height":0,"label":"Black","color":"white","bgcolor":"Black","icon":"","payload":"{\"port\": 77,\"confirmed\": true,\"payload_raw\": \"Color 0 0 0\" }","payloadType":"json","topic":"","x":206,"y":607,"wires":[["6cb0ba40.9d8e9c"]]},{"id":"29e0917f.d61f6e","type":"ui_gauge","z":"32fe362a.cd01ca","name":"","group":"b7607564.489f88","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-32","max":"32","colors":["#00B500","#E6E600","#CA3838"],"x":746,"y":378,"wires":[]},{"id":"eafc8d62.15037","type":"function","z":"32fe362a.cd01ca","name":"save payload in payloadTemp","func":"msg.payloadTemp = msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":307,"y":126,"wires":[["480620c7.b7f9e"]]},{"id":"c0b48a5a.3f4b78","type":"function","z":"32fe362a.cd01ca","name":"Add msg.Device to Obj","func":"msg.Device = msg.payload;\nmsg.Device = msg.Device.replace(/\\n|\\r/g, \"\");\nmsg.payload = msg.payloadTemp;\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":216,"wires":[["c3235dcf.3cdca","43ee439.1e23f3c"]]},{"id":"480620c7.b7f9e","type":"file in","z":"32fe362a.cd01ca","name":"","filename":"Device.txt","format":"utf8","x":305,"y":169,"wires":[["c0b48a5a.3f4b78","e6a5bd7b.195a4"]]},{"id":"264d61cc.d9b29e","type":"file in","z":"32fe362a.cd01ca","name":"","filename":"Device.txt","format":"utf8","x":438,"y":631,"wires":[["56fe0622.a901f8"]]},{"id":"56fe0622.a901f8","type":"function","z":"32fe362a.cd01ca","name":"copy payload in msg.Device","func":"msg.Device = msg.payload.replace(/\\n|\\r/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":629,"wires":[["52523cf5.adadc4"]]},{"id":"52523cf5.adadc4","type":"file in","z":"32fe362a.cd01ca","name":"","filename":"Application.txt","format":"utf8","x":460,"y":670,"wires":[["db77753e.248888"]]},{"id":"db77753e.248888","type":"function","z":"32fe362a.cd01ca","name":"copy payload in msg.Application","func":"msg.Application = msg.payload.replace(/\\n|\\r/g, \"\");\nmsg.payload = msg.payloadTemp; //Restore payload\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":671,"wires":[["ef3873a1.10c79"]]},{"id":"ef3873a1.10c79","type":"function","z":"32fe362a.cd01ca","name":"Create \"topic\"","func":"msg.topic = msg.Application +'/devices/'+ msg.Device +\"/down\"\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":712,"wires":[["2b4b6856.d4b498","57fcdb27.a80324"]]},{"id":"dcd3fb03.232c08","type":"ui_text_input","z":"32fe362a.cd01ca","name":"Gateway","label":"Gateway EUI","group":"f259edde.c4338","order":5,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":740,"y":301,"wires":[[]]},{"id":"6ab12b78.954ed4","type":"function","z":"32fe362a.cd01ca","name":"Force GAUGE & CHART reset","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":431,"wires":[["13816b90.ec7e94","29e0917f.d61f6e"]]},{"id":"43ee439.1e23f3c","type":"function","z":"32fe362a.cd01ca","name":"Check for \"Time?\" or dev_id === Device selected in DASHBOARD","func":"//msg.payload = Math.round(Math.random()*100);\n\n\nif (msg.topic.indexOf(\"up\") != -1){\n    var msg1 = { payload: msg.payload.length };\n    \n    msg1.payload = JSON.parse(msg.payload);\n    var thisDevice = msg1.payload.dev_id; //Save Dev_id\n    msg1.payload = new Buffer(msg1.payload.payload_raw, 'base64').toString('ascii');\n    \n\n    if ((thisDevice === msg.Device)&&(msg1.payload.indexOf(\"Temp=\")!=-1))\n    {//Device ID received is equal to the DASHBOARD device selected\n        \n        msg1.payload =msg1.payload.replace(\"Temp=\",\"\");\n        var value = msg1.payload.split(\"%20\");\n        msg1.payload = value[0];\n        return [msg1];\n\n    }\n    \n}\n    \n","outputs":"1","noerr":0,"x":318,"y":266.8833312988281,"wires":[["13816b90.ec7e94","29e0917f.d61f6e","35e6605c.ca19a"]]},{"id":"ec7af517.bdd628","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":657,"y":245.75,"wires":[]},{"id":"6cb0ba40.9d8e9c","type":"function","z":"32fe362a.cd01ca","name":"Base64 encode of payload_raw","func":"   \n    msg.payload.payload_raw = new Buffer(msg.payload.payload_raw).toString('base64');\n    msg.payloadTemp = JSON.stringify(msg.payload );\nreturn msg;","outputs":"1","noerr":0,"x":472.25,"y":586,"wires":[["264d61cc.d9b29e"]]},{"id":"68a0c663.1aa9","type":"delay","z":"32fe362a.cd01ca","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":496,"y":344.5,"wires":[["dcd3fb03.232c08"]]},{"id":"b01d3def.068fb8","type":"template","z":"32fe362a.cd01ca","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Waiting...","x":350,"y":344,"wires":[["68a0c663.1aa9"]]},{"id":"cea3f99e.315c08","type":"ui_template","z":"32fe362a.cd01ca","group":"f259edde.c4338","name":"","order":1,"width":0,"height":0,"format":"<div align=\"center\">\n    <img style=\"width: 101px; height: 65px;\" src=\"http://www.loligrub.be/blog/wp-content/uploads/2016/11/lora-logo-transp-400x231.png\"><br>\n<img style=\"width: 101px; height: 75px;\" src=\"https://ttnstaticfile.blob.core.windows.net/static/ttn/media/logo/ttn-logo.png\"><br>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"x":316,"y":886,"wires":[[]]},{"id":"102b566c.efd4aa","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":473,"y":888,"wires":[]},{"id":"1bad24b3.e452db","type":"ui_text_input","z":"32fe362a.cd01ca","name":"Device name","label":"Enter device name","group":"f259edde.c4338","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":325,"y":936,"wires":[["102b566c.efd4aa","beafa68e.415058","6ab12b78.954ed4"]]},{"id":"beafa68e.415058","type":"template","z":"32fe362a.cd01ca","name":"Device","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Device.txt","x":473,"y":936,"wires":[["ff3af01e.00c51"]]},{"id":"ff3af01e.00c51","type":"file","z":"32fe362a.cd01ca","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":654,"y":936,"wires":[]},{"id":"bedddaed.412228","type":"ui_text_input","z":"32fe362a.cd01ca","name":"App name","label":"Enter Application name","group":"f259edde.c4338","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":326,"y":1033,"wires":[["caa3766e.355c88","30c7f8a2.cf3808"]]},{"id":"caa3766e.355c88","type":"debug","z":"32fe362a.cd01ca","name":"","active":true,"console":"false","complete":"true","x":474,"y":985,"wires":[]},{"id":"30c7f8a2.cf3808","type":"template","z":"32fe362a.cd01ca","name":"Application","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Application.txt","x":494,"y":1033,"wires":[["e3c35768.1c3ca8"]]},{"id":"e3c35768.1c3ca8","type":"file","z":"32fe362a.cd01ca","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":658,"y":1033,"wires":[]},{"id":"bb0b301.fb9a6d","type":"http in","z":"f7ad349.7d54848","name":"","url":"/MyHomePage","method":"get","swaggerDoc":"","x":308.5,"y":168.25,"wires":[["9141d12a.25ac9"]]},{"id":"9141d12a.25ac9","type":"function","z":"f7ad349.7d54848","name":"","func":"msg.payload = \"<h1><b>Node Red Web Server</b></h1>\";\nreturn msg;","outputs":1,"noerr":0,"x":529.5,"y":143.75,"wires":[["5c4414f.b891bec"]]},{"id":"5c4414f.b891bec","type":"http response","z":"f7ad349.7d54848","name":"","x":733.5,"y":157.5,"wires":[]}]